#blue-box {
  background-color: #3C3B6E;
  width: 395px;
  height: 280px;
  position: absolute;
  z-index: 1;
  display: flex;
}

#main-container {
  width: 988px;
  height: 520px;
  z-index: auto;
  position: relative;
}

img {
  position: relative;
  z-index: 2;
  min-width: 100%;
  min-height: 100%;
}

.red-stripe {
  position: relative;
  background-color: #B22234;
  width: 988px;
  height: 40px;
  margin-bottom: 40px;
}
